
@import "../../variables.scss";
.banner {
  position: relative;

  height: 908px;
  padding-right: 33px;

  text-align: right;

  background: transparent url("./banner.jpg") 0 0 no-repeat padding-box;
  h1 {
    float: right;
    width: 518px;
    padding-top: 193px;

    font-weight: 400;
    font-size: 50px;
    font-family: $font;
    color: #fdd000;
    text-transform: uppercase;
    letter-spacing: 3.5px;
  }
  p {
    position: absolute;
    top: 320px;
    right: 0;

    width: 554px;
    padding-right: 33px;

    font-weight: 300;
    font-size: 30px;
    font-family: $font;
    color: #dfdfdf;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .banner {
    h1 {
      width: 418px;

      font-size: 40px;
    }
    p {
      width: 420px;
    }
  }
}
@media (min-width: 540px) and (max-width: 899px) {
  .banner {
    height: 550px;
  }
}

@media all and (max-width: 539px) {
  .banner {
    height: 550px;
  }
  .banner {
    h1 {
      width: 350px;
      padding-top: 353px;

      font-size: 30px;
    }
    p {
      position: absolute;
      top: 430px;

      width: 350px;

      font-size: 20px;
    }
  }
}

