@import "~bootstrap/scss/bootstrap.scss";

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
body,
html,
.App {
  height: 100vh;
}
body {
  overflow-y: hidden;
}

li {
  list-style: none;
}
