@import "../../variables.scss";
.modal-window {
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 1000;

  display: block;
  width: 510px;
  height: 140px;

  background: rgba(251, 251, 251, 1);
  box-shadow: 10px 10px 20px rgba(19, 24, 25, 0.68);
}
.form-group {
  input {
    width: 220px;
    height: 54px;

    border: 2px solid #fdd000;
    box-shadow: 0 0 25px #0000000d;
  }
  label {
    font-weight: 400;
    font-size: 20px;
    font-family: $font;
    color: rgba(162, 162, 162, 1);
  }
  input::placeholder {
    font-weight: 500;
    font-size: 22px;
    font-family: $font;
    color: rgba(61, 61, 61, 1);
    letter-spacing: 0.66px;
  }
}

.modal-form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.close {
  width: 28px;
  height: 28px;

  background: rgba(253, 208, 0, 1);
}
@media (min-width: 901px) and (max-width: 1350px) {
  .modal-window {
    position: fixed;
    top: 30%;
    left: 35%;
  }
}
@media (min-width: 551px) and (max-width: 900px) {
  .modal-window {
    position: fixed;
    top: 30%;
    left: 25%;

    width: 50%;
    height: 250px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 20px;
  }
  .form-group input::placeholder {
    font-size: 18px;
  }
}
@media (min-width: 250px) and (max-width: 550px) {
  .modal-window {
    position: fixed;
    top: 30%;
    left: auto;

    width: 50%;
    height: 250px;
    padding-top: 0;
    padding-left: 30px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .form-group input {
    width: 85%;
  }
  .form-group input::placeholder {
    font-size: 15px;
  }
}
