.content-row {
  display: flex;
  margin-top: 20px;
}
.leftSide {
  width: 63%;
}
.rigthSide {
  width: 37%;
}

@media (min-width: 900px) and (max-width: 1300px) {
  .leftSide,
  .rigthSide {
    width: 50%;
  }
}
@media all and (max-width: 899px) {
  .content-row {
    display: flex;
    flex-direction: column;
  }
  .leftSide,
  .rigthSide {
    width: 100%;
  }
  body {
    overflow-y: scroll;
  }
}
